* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
}

p {
    font-size: 3rem;
}

.js {
    color: yellow;
}

.text {
    color: #20c20e;
}
.cursor{
    background: #20c20e;
}
@media (max-width:768px) {
    p{
        font-size: 2rem;
    }
}